.scrolled{
    box-shadow: 0 2px 6px rgba(0,0,0,0.35);
    transition: 0.3s;
}

.postItem-stream {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 8px;
}
.postItem-stream:hover {
    background: #f1f1f1;
    cursor: pointer;
}
.postItem-stream a:hover {
    text-decoration: none;
    color: #000;
}
.postItem-stream h3 {
    font-weight: 600px;
    font-size: 2.0vh;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Cantarell,Oxygen,Roboto,Helvetica,Arial,sans-serif;
}
.postItem-stream a {
    color: #000;
}

.postMeta-header h3{
  font-size: 2.2vh;
}
@media screen and (max-width: 700px) {
  .postMeta-header h3{
    font-size: 2.4vh;
  }
}

.postItem-activity span {
  font-size: 2.0vh;
}
@media screen and (max-width: 700px) {
  .postItem-activity span {
    font-size: 1.9vh;
  }
}

.badge a {
    color: #fff !important;
}  
  

  
  
  .inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputFile + label {
      color: white;
      background-color: #fff;
      color: #000;
      border: 1px solid #ddd;
      border-radius: 5px;
      display: inline-block;
      padding: 5px;
  }
  
  .inputFile:focus + label,
  .inputFile + label:hover {
      background-color: #f1f1f1;
      color: #000;
  }
  .inputFile + label {
    cursor: pointer; /* "hand" cursor */
  }
  





  
  .postMeta-data {
    display: flex;
    flex-direction: row;
  }
  .postMeta-viewer, .postMeta-data {
      padding: 0 !important;
  }
  .postMeta-header {
    padding-left: 10px;
  }
  .postMeta-header h3 {
    margin-bottom: 0;
  }

  .postItem-activity {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .thisPost-owner {
    /* color:  rgb(72, 191, 131); */
    color: #555;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
  }
  .text-muted-blacker {
    font-weight: bold;
    color: #aaa;
  }
  
  

  

  .category-name {
    color: rgb(72, 191, 131);
  }
  
  .category-name:hover {
    color: #fff;
    background: rgb(72, 191, 131);
  }
  
 
.fz-2 {
  font-size: 2.2vh;
}
@media screen and (max-width: 700px) {
  .fz-2 {
    font-size: 2.6vh;
  }
}

.cover {
  padding: 20px;
}
.item-header {
  background: #fff;
  color: rgb(72, 191, 131);
}
h3.text-capatilized {
  color: #fff;
  font-weight: bold;
}

.mainpost-container {
  padding-top: 30px;
}

.streamposter-info {
  display: flex;
  flex-direction: row;
}