body {
  font-family: 'Nunito', sans-serif;
}
#childDish-App {
  padding-top: 50px;
  padding-bottom: 30px;
}
.profileItem-image {
  border-radius: 100%;
  border: 2px solid #f1f1f1;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2vw;
}
.AuthUser_info {
  margin: 40px;
}
@media screen and (max-width: 700px)
{
  #childDish-App {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .AuthUser_data {
    margin-top: 10px;
  }
  .AuthUser_info {
    margin: 10px;
  }
  h2 {
    font-size: 6vw;
  }
}
.userInfo-row {
  margin: 30px auto !important;
  font-size: 20px;
}
.userInfo-row a{
  color: #000;
}
.epic-coder {
  margin: 10px auto;
}
.epic-coder a:hover {
  text-decoration: none;
}
.data-env {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
}
.data-q, .data-version {
  width: 50%;
}

.userInfo-wrapper {
  margin-top: 50px;
  padding: 20px;
  background: #fafafa;
}
.userProfile-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: .25em;
  padding: 20px;

}
